html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

nz-layout {
  min-height: 100vh;
  background: pink;
  overflow: hidden;
}

nz-header {
    background: #fff;
    padding: 0;
  }

nz-content {
  height: 100%;
}

nz-footer {
  text-align: center;
}

.logo {
  float: left;
  width: 50px;
}

.logo img {
  margin-left: 20px;
}