<div name="head">
  <!-- [0] -->
  <nz-divider nzOrientation="left" [nzText]="country[0].text"></nz-divider>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 1 階段"
            [(ngModel)]="country[0].score1"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 2 階段"
            [(ngModel)]="country[0].score2"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 3 階段"
            [(ngModel)]="country[0].score3"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 4 階段"
            [(ngModel)]="country[0].score4"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 5 階段"
            [(ngModel)]="country[0].score5"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 6 階段"
            [(ngModel)]="country[0].score6"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <!-- 天災閃電 -->
      <div
        nz-col
        class="gutter-row float blink"
        *ngIf="
          country[0].scourgeNum > 0 &&
          country[0].scourgeNum % 2 == 0 &&
          country[0].s1bad != 0
        "
        (click)="scourgeClick(country[0])"
      >
        <img src="../../../assets/image/lightning2.png" class="lightning" />
        <img src="../../../assets/image/lightning4.png" class="lightning" />
        <img src="../../../assets/image/lightning6.png" class="lightning" />
        <!-- 天災分數 -->
        <span class="point-box">-{{ country[0].s1bad }}</span>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S1"
            [(ngModel)]="country[0].sPoint1"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S2"
            [(ngModel)]="country[0].sPoint2"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S3"
            [(ngModel)]="country[0].sPoint3"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S4"
            [(ngModel)]="country[0].sPoint4"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S5"
            [(ngModel)]="country[0].sPoint5"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S6"
            [(ngModel)]="country[0].sPoint6"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
  </div>

  <!-- [1] -->
  <nz-divider nzOrientation="left" [nzText]="country[1].text"></nz-divider>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 1 階段"
            [(ngModel)]="country[1].score1"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 2 階段"
            [(ngModel)]="country[1].score2"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 3 階段"
            [(ngModel)]="country[1].score3"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 4 階段"
            [(ngModel)]="country[1].score4"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 5 階段"
            [(ngModel)]="country[1].score5"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 6 階段"
            [(ngModel)]="country[1].score6"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <!-- 天災閃電 -->
      <div
        nz-col
        class="gutter-row float blink"
        *ngIf="
          country[1].scourgeNum > 0 &&
          country[1].scourgeNum % 2 == 0 &&
          country[1].s1bad != 0
        "
        (click)="scourgeClick(country[1])"
      >
        <img src="../../../assets/image/lightning2.png" class="lightning" />
        <img src="../../../assets/image/lightning4.png" class="lightning" />
        <img src="../../../assets/image/lightning6.png" class="lightning" />
        <!-- 天災分數 -->
        <span class="point-box">-{{ country[1].s1bad }}</span>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S1"
            [(ngModel)]="country[1].sPoint1"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S2"
            [(ngModel)]="country[1].sPoint2"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S3"
            [(ngModel)]="country[1].sPoint3"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S4"
            [(ngModel)]="country[1].sPoint4"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S5"
            [(ngModel)]="country[1].sPoint5"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S6"
            [(ngModel)]="country[1].sPoint6"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
  </div>

  <!-- [2] -->
  <nz-divider nzOrientation="left" [nzText]="country[2].text"></nz-divider>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 1 階段"
            [(ngModel)]="country[2].score1"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 2 階段"
            [(ngModel)]="country[2].score2"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 3 階段"
            [(ngModel)]="country[2].score3"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 4 階段"
            [(ngModel)]="country[2].score4"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 5 階段"
            [(ngModel)]="country[2].score5"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 6 階段"
            [(ngModel)]="country[2].score6"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <!-- 天災閃電 -->
      <div
        nz-col
        class="gutter-row float blink"
        *ngIf="
          country[2].scourgeNum > 0 &&
          country[2].scourgeNum % 2 == 0 &&
          country[2].s1bad != 0
        "
        (click)="scourgeClick(country[2])"
      >
        <img src="../../../assets/image/lightning2.png" class="lightning" />
        <img src="../../../assets/image/lightning4.png" class="lightning" />
        <img src="../../../assets/image/lightning6.png" class="lightning" />
        <!-- 天災分數 -->
        <span class="point-box">-{{ country[2].s1bad }}</span>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S1"
            [(ngModel)]="country[2].sPoint1"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S2"
            [(ngModel)]="country[2].sPoint2"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S3"
            [(ngModel)]="country[2].sPoint3"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S4"
            [(ngModel)]="country[2].sPoint4"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S5"
            [(ngModel)]="country[2].sPoint5"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S6"
            [(ngModel)]="country[2].sPoint6"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
  </div>

  <!-- [3] -->
  <nz-divider nzOrientation="left" [nzText]="country[3].text"></nz-divider>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 1 階段"
            [(ngModel)]="country[3].score1"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 2 階段"
            [(ngModel)]="country[3].score2"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 3 階段"
            [(ngModel)]="country[3].score3"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 4 階段"
            [(ngModel)]="country[3].score4"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 5 階段"
            [(ngModel)]="country[3].score5"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 6 階段"
            [(ngModel)]="country[3].score6"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <!-- 天災閃電 -->
      <div
        nz-col
        class="gutter-row float blink"
        *ngIf="
          country[3].scourgeNum > 0 &&
          country[3].scourgeNum % 2 == 0 &&
          country[3].s1bad != 0
        "
        (click)="scourgeClick(country[3])"
      >
        <img src="../../../assets/image/lightning2.png" class="lightning" />
        <img src="../../../assets/image/lightning4.png" class="lightning" />
        <img src="../../../assets/image/lightning6.png" class="lightning" />
        <!-- 天災分數 -->
        <span class="point-box">-{{ country[3].s1bad }}</span>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S1"
            [(ngModel)]="country[3].sPoint1"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S2"
            [(ngModel)]="country[3].sPoint2"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S3"
            [(ngModel)]="country[3].sPoint3"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S4"
            [(ngModel)]="country[3].sPoint4"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S5"
            [(ngModel)]="country[3].sPoint5"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S6"
            [(ngModel)]="country[3].sPoint6"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
  </div>

  <!-- [4] -->
  <nz-divider nzOrientation="left" [nzText]="country[4].text"></nz-divider>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 1 階段"
            [(ngModel)]="country[4].score1"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 2 階段"
            [(ngModel)]="country[4].score2"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 3 階段"
            [(ngModel)]="country[4].score3"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 4 階段"
            [(ngModel)]="country[4].score4"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 5 階段"
            [(ngModel)]="country[4].score5"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="ant-design">
          <nz-input-number
            nz-input
            nzPlaceHolder="第 6 階段"
            [(ngModel)]="country[4].score6"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <!-- 天災閃電 -->
      <div
        nz-col
        class="gutter-row float blink"
        *ngIf="
          country[4].scourgeNum > 0 &&
          country[4].scourgeNum % 2 == 0 &&
          country[4].s1bad != 0
        "
        (click)="scourgeClick(country[4])"
      >
        <img src="../../../assets/image/lightning2.png" class="lightning" />
        <img src="../../../assets/image/lightning4.png" class="lightning" />
        <img src="../../../assets/image/lightning6.png" class="lightning" />
        <!-- 天災分數 -->
        <span class="point-box">-{{ country[4].s1bad }}</span>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="5">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S1"
            [(ngModel)]="country[4].sPoint1"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S2"
            [(ngModel)]="country[4].sPoint2"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S3"
            [(ngModel)]="country[4].sPoint3"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S4"
            [(ngModel)]="country[4].sPoint4"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S5"
            [(ngModel)]="country[4].sPoint5"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="input-box">
        <nz-input-number-group nzAddOnBeforeIcon="thunderbolt">
          <nz-input-number
            nz-input
            nzPlaceHolder="S6"
            [(ngModel)]="country[4].sPoint6"
            nzSize="large"
            [disabled]="true"
          />
        </nz-input-number-group>
      </div>
    </div>
  </div>
  <div class="button">
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      nzShape="round"
      (click)="inputButton()"
    >
      <span nz-icon nzType="download"></span>
      登記
    </button>
  </div>
</div>
