<div name="head">
    <nz-divider nzOrientation="left" [nzText]="country[0].name"></nz-divider>
    <div nz-row [nzGutter]="5">
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>骨牌完成</span>
          <nz-switch
          [(ngModel)]="mission[0].isMission1"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 1</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[0].select1" [nzDisabled]="isFinish">
            <nz-option nzValue="1-1" nzLabel="掠奪資源-慘勝"></nz-option>
            <nz-option nzValue="1-2" nzLabel="掠奪資源-戰勝"></nz-option>
            <nz-option nzValue="2-1" nzLabel="和平共處-以物易物"></nz-option>
            <nz-option nzValue="2-2" nzLabel="和平共處-幫助弱勢部落"></nz-option>
            <nz-option nzValue="3-1" nzLabel="自力更生-發現稀有礦坑"></nz-option>
            <nz-option nzValue="3-2" nzLabel="自力更生-發現綠洲"></nz-option>
            <nz-option nzValue="3-3" nzLabel="自力更生-被野獸襲擊"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>採集完成</span>
          <nz-switch
          [(ngModel)]="mission[0].isMission2"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 2</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[0].select2" [nzDisabled]="isFinish">
            <nz-option nzValue="4-1" nzLabel="挾天子-篡位奪權"></nz-option>
            <nz-option nzValue="4-2" nzLabel="挾天子-天子虛位，諸侯不聽令"></nz-option>
            <nz-option nzValue="5-1" nzLabel="發動戰爭-戰績彪炳"></nz-option>
            <nz-option nzValue="5-2" nzLabel="發動戰爭-兩敗俱傷"></nz-option>
            <nz-option nzValue="6-1" nzLabel="發動戰爭-兵敗如山倒"></nz-option>
            <nz-option nzValue="6-2" nzLabel="禮樂治國-禮運大同"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="switch">
        <span>經典研讀</span>
        <nz-switch
        [(ngModel)]="mission[0].isMission3"
        [nzDisabled]="isFinish"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
      </div>
    </div>
    <nz-divider nzOrientation="left" [nzText]="country[1].name"></nz-divider>
    <div nz-row [nzGutter]="5">
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>骨牌完成</span>
          <nz-switch
          [(ngModel)]="mission[1].isMission1"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 1</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[1].select1" [nzDisabled]="isFinish">
            <nz-option nzValue="1-1" nzLabel="掠奪資源-慘勝"></nz-option>
            <nz-option nzValue="1-2" nzLabel="掠奪資源-戰勝"></nz-option>
            <nz-option nzValue="2-1" nzLabel="和平共處-以物易物"></nz-option>
            <nz-option nzValue="2-2" nzLabel="和平共處-幫助弱勢部落"></nz-option>
            <nz-option nzValue="3-1" nzLabel="自力更生-發現稀有礦坑"></nz-option>
            <nz-option nzValue="3-2" nzLabel="自力更生-發現綠洲"></nz-option>
            <nz-option nzValue="3-3" nzLabel="自力更生-被野獸襲擊"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>採集完成</span>
          <nz-switch
          [(ngModel)]="mission[1].isMission2"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 2</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[1].select2" [nzDisabled]="isFinish">
            <nz-option nzValue="4-1" nzLabel="挾天子-篡位奪權"></nz-option>
            <nz-option nzValue="4-2" nzLabel="挾天子-天子虛位，諸侯不聽令"></nz-option>
            <nz-option nzValue="5-1" nzLabel="發動戰爭-戰績彪炳"></nz-option>
            <nz-option nzValue="5-2" nzLabel="發動戰爭-兩敗俱傷"></nz-option>
            <nz-option nzValue="6-1" nzLabel="發動戰爭-兵敗如山倒"></nz-option>
            <nz-option nzValue="6-2" nzLabel="禮樂治國-禮運大同"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="switch">
        <span>經典研讀</span>
        <nz-switch
        [(ngModel)]="mission[1].isMission3"
        [nzDisabled]="isFinish"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
      </div>
    </div>
    <nz-divider nzOrientation="left" [nzText]="country[2].name"></nz-divider>
    <div nz-row [nzGutter]="5">
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>骨牌完成</span>
          <nz-switch
          [(ngModel)]="mission[2].isMission1"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 1</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[2].select1" [nzDisabled]="isFinish">
            <nz-option nzValue="1-1" nzLabel="掠奪資源-慘勝"></nz-option>
            <nz-option nzValue="1-2" nzLabel="掠奪資源-戰勝"></nz-option>
            <nz-option nzValue="2-1" nzLabel="和平共處-以物易物"></nz-option>
            <nz-option nzValue="2-2" nzLabel="和平共處-幫助弱勢部落"></nz-option>
            <nz-option nzValue="3-1" nzLabel="自力更生-發現稀有礦坑"></nz-option>
            <nz-option nzValue="3-2" nzLabel="自力更生-發現綠洲"></nz-option>
            <nz-option nzValue="3-3" nzLabel="自力更生-被野獸襲擊"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>採集完成</span>
          <nz-switch
          [(ngModel)]="mission[2].isMission2"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 2</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[2].select2" [nzDisabled]="isFinish">
            <nz-option nzValue="4-1" nzLabel="挾天子-篡位奪權"></nz-option>
            <nz-option nzValue="4-2" nzLabel="挾天子-天子虛位，諸侯不聽令"></nz-option>
            <nz-option nzValue="5-1" nzLabel="發動戰爭-戰績彪炳"></nz-option>
            <nz-option nzValue="5-2" nzLabel="發動戰爭-兩敗俱傷"></nz-option>
            <nz-option nzValue="6-1" nzLabel="發動戰爭-兵敗如山倒"></nz-option>
            <nz-option nzValue="6-2" nzLabel="禮樂治國-禮運大同"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="switch">
        <span>經典研讀</span>
        <nz-switch
        [(ngModel)]="mission[2].isMission3"
        [nzDisabled]="isFinish"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
      </div>
    </div>
    <nz-divider nzOrientation="left" [nzText]="country[3].name"></nz-divider>
    <div nz-row [nzGutter]="5">
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>骨牌完成</span>
          <nz-switch
          [(ngModel)]="mission[3].isMission1"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 1</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[3].select1" [nzDisabled]="isFinish">
            <nz-option nzValue="1-1" nzLabel="掠奪資源-慘勝"></nz-option>
            <nz-option nzValue="1-2" nzLabel="掠奪資源-戰勝"></nz-option>
            <nz-option nzValue="2-1" nzLabel="和平共處-以物易物"></nz-option>
            <nz-option nzValue="2-2" nzLabel="和平共處-幫助弱勢部落"></nz-option>
            <nz-option nzValue="3-1" nzLabel="自力更生-發現稀有礦坑"></nz-option>
            <nz-option nzValue="3-2" nzLabel="自力更生-發現綠洲"></nz-option>
            <nz-option nzValue="3-3" nzLabel="自力更生-被野獸襲擊"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>採集完成</span>
          <nz-switch
          [(ngModel)]="mission[3].isMission2"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 2</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[3].select2" [nzDisabled]="isFinish">
            <nz-option nzValue="4-1" nzLabel="挾天子-篡位奪權"></nz-option>
            <nz-option nzValue="4-2" nzLabel="挾天子-天子虛位，諸侯不聽令"></nz-option>
            <nz-option nzValue="5-1" nzLabel="發動戰爭-戰績彪炳"></nz-option>
            <nz-option nzValue="5-2" nzLabel="發動戰爭-兩敗俱傷"></nz-option>
            <nz-option nzValue="6-1" nzLabel="發動戰爭-兵敗如山倒"></nz-option>
            <nz-option nzValue="6-2" nzLabel="禮樂治國-禮運大同"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="switch">
        <span>經典研讀</span>
        <nz-switch
        [(ngModel)]="mission[3].isMission3"
        [nzDisabled]="isFinish"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
      </div>
    </div>
    <nz-divider nzOrientation="left" [nzText]="country[4].name"></nz-divider>
    <div nz-row [nzGutter]="5">
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>骨牌完成</span>
          <nz-switch
          [(ngModel)]="mission[4].isMission1"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 1</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[4].select1" [nzDisabled]="isFinish">
            <nz-option nzValue="1-1" nzLabel="掠奪資源-慘勝"></nz-option>
            <nz-option nzValue="1-2" nzLabel="掠奪資源-戰勝"></nz-option>
            <nz-option nzValue="2-1" nzLabel="和平共處-以物易物"></nz-option>
            <nz-option nzValue="2-2" nzLabel="和平共處-幫助弱勢部落"></nz-option>
            <nz-option nzValue="3-1" nzLabel="自力更生-發現稀有礦坑"></nz-option>
            <nz-option nzValue="3-2" nzLabel="自力更生-發現綠洲"></nz-option>
            <nz-option nzValue="3-3" nzLabel="自力更生-被野獸襲擊"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="3">
        <div class="switch">
          <span>採集完成</span>
          <nz-switch
          [(ngModel)]="mission[4].isMission2"
          [nzDisabled]="isFinish"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="1">
        <div class="text">
          <span>事件 2</span>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="select">
          <nz-select [(ngModel)]="mission[4].select2" [nzDisabled]="isFinish">
            <nz-option nzValue="4-1" nzLabel="挾天子-篡位奪權"></nz-option>
            <nz-option nzValue="4-2" nzLabel="挾天子-天子虛位，諸侯不聽令"></nz-option>
            <nz-option nzValue="5-1" nzLabel="發動戰爭-戰績彪炳"></nz-option>
            <nz-option nzValue="5-2" nzLabel="發動戰爭-兩敗俱傷"></nz-option>
            <nz-option nzValue="6-1" nzLabel="發動戰爭-兵敗如山倒"></nz-option>
            <nz-option nzValue="6-2" nzLabel="禮樂治國-禮運大同"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="switch">
        <span>經典研讀</span>
        <nz-switch
        [(ngModel)]="mission[4].isMission3"
        [nzDisabled]="isFinish"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
      </div>
    </div>

    <div class="button">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        nz-popconfirm
        nzPopconfirmTitle="請問您確定要提交? 一旦提交則無法更改"
        (nzOnConfirm)="submitButton()"
        (nzOnCancel)="submitCancel()"
        nzPopconfirmPlacement="topLeft"
      >
        <span nz-icon nzType="download"></span>
        提交
      </button>
    </div>

    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
</div>